$font-color: #1c1c1c;
$font-family: 'Open Sans', 'Segoe UI', 'Helvetica Neue', 'Arial', 'Noto Sans', sans-serif;
$font-font-size: 1rem;
$font-line-height: 1.5;

$blue-100: #bee3f8;
$blue-500: #3182ce;
$blue-600: #2b6cb0;
$gray-500: #cccccc;
$green-500: #38A169;
$red-500: #ff0000;
$white-500: #ffffff;

$border-radius: 5px;

$form-font-size: 0.875rem;
$form-line-height: 1.286;
$form-label: $form-font-size;
$form-control-background: $white-500;
$form-control-border-focus: #86b7fe;
$form-control-border-invalid: $red-500;
$form-control-border-radius: $border-radius;
$form-control-border-valid: $green-500;
$form-control-border: $gray-500;
$form-control-color: $font-color;
$form-control-error-color: $red-500;
$form-control-error-font-size: 0.75rem;
$form-control-font-size: $form-font-size;
$form-control-line-height: $form-line-height;
$form-control-padding: 0.625rem;
$form-control-shadow-focus: 0 0 0 0.1rem rgb(13 110 253 / 25%);
$form-control-shadow-invalid: 0 0 0 0.1rem rgb(255 0 0 / 25%);
$form-control-shadow-valid: 0 0 0 0.1rem rgb(56 161 105 / 25%);

$btn-background-hover: $blue-600;
$btn-background: $blue-500;
$btn-border-hover: $blue-600;
$btn-border-radius: $border-radius;
$btn-border: $blue-500;
$btn-color: $white-500;
$btn-font-size: $form-font-size;
$btn-line-height: $form-line-height;
$btn-padding: 0.625rem;

$btn-outline-background-hover: $blue-100;
$btn-outline-background: transparent;
$btn-outline-border: $blue-500;
$btn-outline-color-hover: $blue-500;
$btn-outline-color: $blue-500;


