<form
  #productForm="ngForm"
  action="#"
  autocomplete="on"
  name="form"
  (ngSubmit)="productForm.form.valid && submit()"
>
  <div class="form-grid">
    <fieldset class="form-grid-1 form-group">
      <legend>General</legend>
      <div class="form-items">
        <div class="form-item">
          <label for="name" class="form-label">
            Name: <span class="required">*</span>
          </label>
          <input
            #name="ngModel"
            class="form-control"
            id="name"
            maxlength="100"
            minlength="5"
            name="name"
            placeholder="Enter product name"
            required
            type="text"
            [class.invalid]="productForm.submitted && name.errors"
            [class.valid]="name.valid"
            [(ngModel)]="form.name"
          >
          <div class="form-errors" *ngIf="productForm.submitted && name.errors">
            <span *ngIf="name.errors['required']">Name is required</span>
            <span *ngIf="name.errors['minlength']">Name be at least 5 characters</span>
            <span *ngIf="name.errors['maxlength']">Name must be at most 100 characters</span>
          </div>
        </div>
        <div class="form-item">
          <label for="categoryId" class="form-label">
            Category: <span class="required">*</span>
          </label>
          <div class="form-select">
            <select
              #categoryId="ngModel"
              class="form-control"
              id="categoryId"
              name="categoryId"
              required
              [class.invalid]="productForm.submitted && categoryId.errors"
              [class.valid]="categoryId.valid"
              [(ngModel)]="form.categoryId"
            >
              <option value="" disabled selected>Select category</option>
              <option value="1">Category #1</option>
              <option value="2">Category #2</option>
              <option value="3">Category #3</option>
              <option value="4">Category #4</option>
              <option value="5">Category #5</option>
              <option value="6">Category #6</option>
              <option value="7">Category #7</option>
              <option value="8">Category #8</option>
            </select>
          </div>
          <div class="form-errors" *ngIf="productForm.submitted && categoryId.errors">
            <span *ngIf="categoryId.errors['required']">Category is required</span>
          </div>
        </div>
        <div class="form-item">
          <label for="brandId" class="form-label">
            Brand: <span class="required">*</span>
          </label>
          <div class="form-select">
            <select
              #brandId="ngModel"
              class="form-control"
              id="brandId"
              name="brandId"
              required
              [class.invalid]="productForm.submitted && brandId.errors"
              [class.valid]="brandId.valid"
              [(ngModel)]="form.brandId"
            >
              <option value="" disabled selected>Select brand</option>
              <option value="1">Brand 1</option>
              <option value="2">Brand 2</option>
              <option value="3">Brand 3</option>
              <option value="4">Brand 4</option>
              <option value="5">Brand 5</option>
              <option value="6">Brand 6</option>
              <option value="7">Brand 7</option>
              <option value="8">Brand 8</option>
            </select>
          </div>
          <div class="form-errors" *ngIf="productForm.submitted && brandId.errors">
            <span *ngIf="brandId.errors['required']">Brand is required</span>
          </div>
        </div>
        <div class="form-item">
          <label for="price" class="form-label">
            Price: <span class="required">*</span>
          </label>
          <input
            #price="ngModel"
            class="form-control"
            id="price"
            max="99999"
            min="1"
            name="price"
            placeholder="Enter product price"
            required
            type="number"
            [class.invalid]="productForm.submitted && price.errors"
            [class.valid]="price.valid"
            [(ngModel)]="form.price"
          >
          <div class="form-errors" *ngIf="productForm.submitted && price.errors">
            <span *ngIf="price.errors['required']">Price is required</span>
            <span *ngIf="price.errors['min']">Price must be more than or equal to 1</span>
            <span *ngIf="price.errors['max']">Price must be less than or equal to 99999</span>
          </div>
        </div>
        <div class="form-item">
          <label for="code" class="form-label">
            Code: <span class="required">*</span>
          </label>
          <input
            #code="ngModel"
            class="form-control"
            id="code"
            name="code"
            pattern="^[A-Z]{2}-[0-9]{5}-[A-Z]{1}$"
            placeholder="Enter product code AA-00000-A"
            required
            type="text"
            [class.invalid]="productForm.submitted && code.errors"
            [class.valid]="code.valid"
            [(ngModel)]="form.code"
          >
          <div class="form-errors" *ngIf="productForm.submitted && code.errors">
            <span *ngIf="code.errors['required']">Code is required</span>
            <span *ngIf="code.errors['pattern']">Code is not valid. Example: <small>AB-12290-F</small></span>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset class="form-grid-2 form-group">
      <legend>Details</legend>
      <div class="form-items">
        <div class="form-item">
          <label for="description" class="form-label">
            Description: <span class="required">*</span>
          </label>
          <textarea
            #description="ngModel"
            class="form-control"
            id="description"
            maxlength="500"
            minlength="20"
            name="description"
            placeholder="Enter description"
            required
            rows="6"
            [class.invalid]="productForm.submitted && description.errors"
            [class.valid]="description.valid"
            [(ngModel)]="form.description"
          ></textarea>
          <div class="form-errors" *ngIf="productForm.submitted && description.errors">
            <span *ngIf="description.errors['required']">Description is required</span>
            <span *ngIf="description.errors['minlength']">Description be at least 20 characters</span>
            <span *ngIf="description.errors['maxlength']">Description must be at most 500 characters</span>
          </div>
        </div>
        <div class="form-item">
          <label for="status" class="form-label">
            Status: <span class="required">*</span>
          </label>
          <div id="status" class="form-radio-group">
            <label class="form-label">
              <input
                #status="ngModel"
                id="active"
                name="status"
                required
                type="radio"
                value="active"
                [class.invalid]="productForm.submitted && status.errors"
                [class.valid]="status.valid"
                [(ngModel)]="form.status"
              />
              Active
            </label>
            <label class="form-label">
              <input
                #status="ngModel"
                name="status"
                required
                type="radio"
                value="inactive"
                [class.invalid]="productForm.submitted && status.errors"
                [class.valid]="status.valid"
                [(ngModel)]="form.status"
              />
              Inactive
            </label>
            <label class="form-label">
              <input
                #status="ngModel"
                name="status"
                required
                type="radio"
                value="expected"
                [class.invalid]="productForm.submitted && status.errors"
                [class.valid]="status.valid"
                [(ngModel)]="form.status"
              />
              Expected
            </label>
          </div>
          <div class="form-errors" *ngIf="productForm.submitted && status.errors">
            <span *ngIf="status.errors['required']">Status is required</span>
          </div>
        </div>
        <div class="form-item" *ngIf="productForm.form.get('status')?.value === 'expected'">
          <label for="expectedAt" class="form-label">
            Expected Date: <span class="required">*</span>
          </label>
          <input
            #expectedAt="ngModel"
            class="form-control"
            id="expectedAt"
            name="expectedAt"
            placeholder="Choose expected product date"
            required
            type="date"
            [min]="minDate"
            [max]="maxDate"
            [class.invalid]="productForm.submitted && expectedAt.errors"
            [class.valid]="expectedAt.valid"
            [(ngModel)]="form.count"
          >
          <div class="form-errors" *ngIf="productForm.submitted && expectedAt.errors">
            <span *ngIf="expectedAt.errors['required']">Expected date is required</span>
          </div>
        </div>
        <div class="form-item" *ngIf="productForm.form.get('status')?.value === 'active'">
          <label for="count" class="form-label">
            Count: <span class="required">*</span>
          </label>
          <input
            #count="ngModel"
            class="form-control"
            id="count"
            max="500"
            min="1"
            name="count"
            placeholder="Enter product count"
            required
            type="number"
            [class.invalid]="productForm.submitted && count.errors"
            [class.valid]="count.valid"
            [(ngModel)]="form.count"
          >
          <div class="form-errors" *ngIf="productForm.submitted && count.errors">
            <span *ngIf="count.errors['required']">Count is required</span>
            <span *ngIf="count.errors['min']">Count must be more than or equal to 1</span>
            <span *ngIf="count.errors['max']">Count must be less than or equal to 500</span>
          </div>
        </div>
        <div class="form-item">
          <label for="image" class="form-label">
            Image: <span class="required">*</span>
            <input
              #image="ngModel"
              accept=".jpg,.jpeg,.png,.webp"
              class="form-control"
              id="image"
              name="image"
              required
              type="file"
              [class.invalid]="productForm.submitted && image.errors"
              [class.valid]="image.valid"
              [(ngModel)]="form.image"
              (change)="preview($event)"
            >
          </label>
          <div class="form-image-preview" *ngIf="imagePreview()">
            <img [src]="imagePreview()" alt="Image">
          </div>
          <div class="form-errors" *ngIf="productForm.submitted && image.errors">
            <span *ngIf="image.errors['required']">Image is required</span>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset class="form-grid-3 form-group">
      <legend>Additional options</legend>
      <div class="form-items">
        <div class="form-item">
          <div class="form-checkbox">
            <label class="form-label">
              <input
                #guaranty="ngModel"
                name="guaranty"
                type="checkbox"
                [(ngModel)]="form.guaranty"
              >
              1 year guarantee maintenance
            </label>
          </div>
          <div class="form-checkbox">
            <label class="form-label">
              <input
                #trialPeriod="ngModel"
                name="trialPeriod"
                type="checkbox"
                [(ngModel)]="form.trialPeriod"
              >
              14 days trial period
            </label>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="btn-group">
    <button class="btn" type="submit">Submit</button>
    <button class="btn btn-outline" type="reset" (click)="reset(productForm)">Reset</button>
  </div>
</form>

<div *ngIf="visible()">
  <h4>Form values:</h4>
  <pre>{{ form | json }}</pre>
</div>
